$white: #fff;
$body: #fff;
$side: #495171;
$accent: #E91E63;
$accent-light: #E91E63;
$font: rgba(0,0,0,0.87);
$divider: rgba(0,0,0,0.12);
$btn: #BDBDBD;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
$grey: #9e9e9e;
$plum: #8e44ad;
$player: #25D366;
