@font-face {
    font-family: open-sans-regular;
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: open-sans-light;
    src: url(../fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: open-sans-semi-bold;
    src: url(../fonts/open-sans/OpenSans-Semibold.ttf);
}