<div class="container">
	<header>
		<h1>Lime Player</h1>
		<button class="btn hamburg"><span class="ion-navicon"></span>
			<ul>
				<li>
					<a>Podcasts</a>
				</li>
				<li on-click="get-radio">
					<a>Radio</a>
				</li>
				<li>
					<a>Search</a>
				</li>
				<li>
					<a>Discover</a>
				</li>
			</ul>
		</button>
	</header>

	<div class="middle-man">
		{{#if loading}}
			{{>loader}}
		{{/if}}
		{{#if podcast_data}}
			{{#podcast_stations:i}}
				{{>podcast_stations}}
			{{/}}
		{{/if}}
		{{#if radio_data}}
			{{#radio_stations:i}}
				{{>radio_stations}}
			{{/}}
		{{/if}}
		{{#if podcast_playlist_ready}}
			<div class="station-details" style="background-image:url('{{station_details.image}}');">
				<div class="skrym">
					<h1>{{station_details.title}}</h1>
					<p class="pod-description">{{station_details.description}}</p>
				</div>
			</div>
			<div class="thin" id="playlist-item-parent" on-mouseover="scrollbar">
			{{#podcast_playlist:i}}
				{{>podcast_playlist}}
			{{/}}
			</div>
		{{/if}}
	</div>

	<div class="player">
		<button class="btn btn-sm" on-click="prev-track" data-index="playing_index">
			<span class="ion-ios-rewind"></span>
		</button>
		<button class="btn btn-lg" on-click="play-button">
			{{#if isplaying}}
				<span class="ion-ios-pause"></span>
			{{else}}
				<span class="ion-ios-play"></span>
			{{/if}}
		</button>
		<button class="btn btn-sm" on-click="next-track" data-index="playing_index">
			<span class="ion-ios-fastforward"></span>
		</button>

		<div class="progress"></div>
	</div>
</div>

{{#partial podcast_playlist}}
	<div class="item-sm" on-click="play-podcast" data-index="{{i}}">
		<div class="item-content">
			<div class="pod-name">{{title}}</div>
			<div class="pod-time">{{duration}}</div>
		</div>
	</div>
{{/partial}}

{{#partial podcast_stations}}
	<div class="item" on-click="get-pods" data-index="{{i}}">
		<div class="item-content">
			<div class="item-thumb" style="background:url('{{image}}'); background-size:cover;"></div>
			<div class="content">
				<h1>{{name}}</h1>
			</div>
		</div>
	</div>
{{/partial}}

{{#partial radio_stations}}
	<div class="item" on-click="play-radio" data-index="{{i}}">
		<div class="item-content">
			<div class="item-thumb" style="background:url('{{meta.image}}'); background-size:cover;"></div>
			<div class="content">
				<h1>{{meta.name}}</h1>
			</div>
		</div>
	</div>
{{/partial}}


{{#partial loader}}
	<div class="loading-container">
		<div class='loading spin-1'>
		  <div class='loading spin-2'>
		    <div class='loading spin-3'>
		      <div class='loading spin-4'>
		        <div class='loading spin-5'>
		          <div class='loading spin-6'></div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div>Loading streams</div>
	</div>
{{/partial}}

<!-- Audio Player -->
<audio id="now_playing" src="{{now_playing_media}}" on-ended="track_ended" on-timeupdate="time_update">
	<p>Your browser does not support the <code>audio</code> element.</p>
</audio>
